@mixin card ($width, $padding-horizontal) {
  padding: 0 $padding-horizontal;
  margin: 0 9%;
  width: $width;
}

@mixin card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.2s;
  background-color: white;
}

@mixin card-description {
  .card-description {
    height: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    padding: 10px 10px 10px 0;
    margin: 0 50px 0 50px;
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .title {
      font-size: 0.8em;
    }
  }
}

@mixin text ($text) {
  padding: 7px;
  width: 90%;
  height: ($text);
  border: solid #B8B8B8 1px;
  outline: none;
  border-radius: 5px;
}

a {
  color: inherit;
}

.modalClose {
  direction: rtl;
}

.main-container {
  margin-left: 15%;

  .main-categories {
    .intro {
      background: url('../../images/intro.png') top center/cover no-repeat;
      width: 100%;
      height: 100vh;
      position: relative;
    }

    .category-header {
      font-family: sans-serif;
      height: 80px;
      font-size: 2.5em;
      padding-left: 5%;
      padding-top: 3%;
      background-color: #cccccc;
    }

    .experience {
      padding: 0 5%;
      display: flex;

      .small-card-container {  
        @include card(90%, 2%);
        @include card-shadow;
        @include card-description;

        .company {
          text-align: center;
        }

        .card-info {
          padding: 20px 20px 20px 60px;
          line-height: 1.5;
        }
        
        margin: 50px;
      }  
    }

    .category-card-container {
      @include card(80%, 10px);

      .about-header {
        padding-left: 20px;
        margin: 50px 0;
        border-left: 5px solid black;
        font-size: 32px;
      }

      .category-card {
        @include card-shadow;
        @include card-description;

        .in-progress {
          text-align: center;
        }

        .card-skills {
          box-sizing: border-box;
          display: grid;
          grid-template-columns: repeat(auto-fill, 160px)  ;
          grid-gap: 10px;
          padding: 20px 10px;

          .skill-item {
            padding-bottom: 20px;
            text-align: center;
          }
        }

        .card-info {
          padding: 20px 40px 40px 60px;

          .card-item {
            line-height: 1.5;
          }
        }

        .contact {
          display: flex;

          .email {
            margin: 4% 8%;
            width: 50%;

            .error-message {
              color: red;
            }

            .form-category {
              width: 100%;
              margin-bottom: 15px;
            }
          
            input {
              @include text(20px);
            }
            
            textarea {
              @include text(150px);
              resize: none;
            }
          
            .buttonContainer {
              float: right;
              padding-right: 30px;
            
              button {
                border: solid #B8B8B8 1px;
              }
            }
          }

          .contact-items {
            width: 50%;
            margin: 12% 0;
            padding-top: 4%;
            padding-left: 12%;
            border-left: solid black 1px; 

            .contact-item {
              margin: 15px 0;
              font-size: 2rem;
              top: 0;

              img {
                transition: 0.5s;
              }
            }
            
            .contact-item:hover {
              img {
                transition-duration: 0.5s;
                transform: rotate(45deg);
              }
            }
          }
        }

        margin: 50px 0;
      }
    }
  }
}