@mixin card {
  padding: 0 5%;
  width: 90%;
}

@mixin card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.2s;
}

.main-container {
  margin-left: 15%;

  .main-categories {
    .category-header {
      height: 80px;
      font-size: 2.5em;
      padding-left: 5%;
      padding-top: 3%;
      background-color: green;
    }

    .category-card-container {
      @include card;
      .category-card {
        @include card-shadow;
        .card-description {
          height: 50px;
          border-bottom: 2px solid rgba(0,0,0,0.4);
          padding: 10px 10px 10px 0;
          margin: 0 40px 0 40px;
          font-size: 1.5em;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .title {
            font-size: 1em;
          }
        }

        .card-skills {
          box-sizing: border-box;
          display: grid;
          grid-template-columns: repeat(auto-fill, 160px)  ;
          grid-gap: 10px;
          padding: 20px 40px;

          .skill-item {
            padding-bottom: 20px;
            text-align: center;
          }
        }

        .card-info {
          padding-top: 20px;
          padding-left: 60px;
          padding-right: 40px;
          padding-bottom: 40px;

          .card-item {
            line-height: 1.5;
          }
        }
        
        .contact-description {
          padding-top: 3%;
          font-size: 2.5rem;
        }

        .contact-info {
          padding: 13%;

          .message-input {
            input {
              height: 160px;
            }
          }
        }
        margin: 50px 0;
      }

      .category-card:hover {
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.4);
      }
    }
  }
}