@mixin card ($width, $padding-horizontal) {
  padding: 0 $padding-horizontal;
  width: $width;
}

@mixin card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.2s;
  background-color: white;
}

@mixin card-description ($category) {
  .card-description {
    height: 50px;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    padding: 10px 10px 10px 0;
    margin: 0 40px 0 40px;
    font-size: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .title {
      font-size: 1em;
    }
  }
}

a {
  color: inherit;
}

@mixin text ($text) {
  padding: 7px;
  width: 95%;
  height: ($text);
  border: solid #B8B8B8 1px;
  outline: none;
}

.modalClose {
  float: right;
}

.modalClose:hover {
  cursor: pointer;
}

.modal {
  margin: 30px;

  .error-message {
    color: red;
  }

  .modalCategory {
    margin: 20px 0;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: all 5000s ease-in-out 0s;
      transition-property: background-color, color;
    }
    input {
      @include text(20px);
    }
    
    textarea {
      @include text(150px);
    }
  }

  .buttonContainer {
    margin-top: -15px;
    float: right;

    button {
      margin-right: 10px;
      border: solid #B8B8B8 1px;
    }
  }
}

.main-container {
  margin-left: 15%;

  .main-categories {
    .intro {
      background: url('../../images/intro.png') top center/cover no-repeat;
      width: 100%;
      height: 100vh;
      position: relative;
    }

    .category-header {
      height: 80px;
      font-size: 2.5em;
      padding-left: 5%;
      padding-top: 3%;
      background-color: #cccccc;
    }

    .experience {
      padding: 0 10%;
  
      .small-card-container {  
        @include card(90%, 2%);
        @include card-shadow;
        @include card-description(experience);
        
        .card-info {
          padding: 20px 20px 20px 60px;
          line-height: 1.5;
        }
        
        margin: 50px 20px;
      }  
    }

    .category-card-container {
      @include card(90%, 5%);

      .about-header {
        padding-left: 20px;
        margin: 50px;
        border-left: 5px solid black;
        font-size: 32px;
      }

      .category-card {
        @include card-shadow;
        @include card-description(category);

        .in-progress {
          text-align: center;
        }

        .card-skills {
          box-sizing: border-box;
          display: grid;
          grid-template-columns: repeat(auto-fill, 160px)  ;
          grid-gap: 10px;
          padding: 20px 10px;

          .skill-item {
            padding-bottom: 20px;
            text-align: center;
          }
        }

        .card-info {
          padding: 20px 40px 40px 60px;

          .card-item {
            line-height: 1.5;
          }
        }
        
        .contact-description {
          font-size: 2.5rem;
        }

        .contact-info {
          text-align: center;

          .contact-text {
            padding-top: 20px;
            font-size: 1.5rem;
          }

          .contact-item {
            @include card-shadow;
            width: 136px;
            margin: 30px;
            padding: 40px;
            display: inline-block;
            text-align: center;
            font-size: 36px;
            position: relative;
            top: 0;
            transition: top ease 0.2s;
          }
          
          .contact-item:hover {
            top: -20px;
          }
        }
        margin: 50px 0;
      }

      .category-card:hover {
        box-shadow: 0 8px 20px 0 rgba(0,0,0,0.4);
      }
    }
  }
}